.wrapper {
  margin-top: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Poppins";
  margin-bottom: 30px;
}

.title {
  text-align: center;
  font-family: 'Faster One'
}

.tagline {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

